<<<<<<< HEAD
@import "tailwindcss";
@theme {
  
  /* New Colors */
  --color-dark: #FBF6EE;
  --color-accent: #7A3E3E;
  --color-lightGray: #754E1A;
  --color-blue: #4D55CC;
  --color-ivory: #482121;

  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}

/* Utility Classes */
.text-dark { color: var(--color-dark); }
.text-accent { color: var(--color-accent); }
.text-lightGray { color: var(--color-lightGray); }
.text-blue { color: var(--color-blue); }
.text-ivory { color: var(--color-ivory); }

.bg-dark { background-color: var(--color-dark); }
.bg-accent { background-color: var(--color-accent); }
.bg-lightGray { background-color: var(--color-lightGray); }
.bg-blue { background-color: var(--color-blue); }
.bg-ivory { background-color: var(--color-ivory); }
=======
@import "tailwindcss";
>>>>>>> upstream/main
